.card{
    background: black;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 20vw;
    border-radius: 2vw;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;

    align-items: center;
}
.card img{
    width: 15vw;
}
.card .title{
    font-size: 1.5vw;
}